<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header"></head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader2 :: bodyHeader" />
  <main class="mb-auto col-12">
    <h1>그룹 생성</h1>
    <div sec:authorize="isAuthenticated()">
      <form class="row" th:action="@{/api/v1/groups/admin/new}" th:object="${createGroupForm}" method="post">
        <!--            <input type="hidden" th:field="*{id}" />-->
        <div class="col-12 col-lg-10 col-xl-8">

          <div class="mb-3">
            <label th:for="name" class="form-label">그룹명</label>
            <input type="text" id="name" class="form-control form-control-lg" th:errorclass="field-error" th:field="*{name}"  placeholder="그룹명은 필수입니다." autofocus>
          </div>
          <div class="field-error" th:errors="*{name}"></div>

          <div class="mb-3">
            <label th:for="joinClosedTime" class="form-label">가입 가능 기간</label>
            <input type="text" id="joinClosedTime" class="form-control form-control-lg" th:errorclass="joinClosedTime" th:field="*{joinClosedTime}">
          </div>
          <div class="field-error" th:errors="*{joinClosedTime}"></div>

          <div class="mb-3">
            <label th:for="maxMember" class="form-label">최대 인원</label>
            <input type="text" class="form-control form-control-lg" th:errorclass="maxMember" th:field="*{maxMember}">
          </div>
          <div class="field-error" th:errors="*{maxMember}"></div>

          <div class="mb-3">
            <label th:for="description" class="form-label">그룹 설명</label>
            <input type="text" class="form-control form-control-lg" th:field="*{description}">
          </div>

          <div class="mb-3">
            <div th:each="visibility: ${visibilities}">
              <label class="form-label" th:text="${visibility.key}"></label>
              <input type="radio" th:field="*{memberGroupVisibility}" th:errorclass="memberGroupVisibility" class="form-check-inline" th:value="${visibility.value}">
            </div>
          </div>
          <div class="field-error" th:errors="*{memberGroupVisibility}"></div>

          <div class="mb-3">
            <label th:for="skillTag" class="form-label">스킬 태그</label>
            <input type="text" class="form-control form-control-lg" th:field="*{skillTag}">
          </div>

          <div class="mb-3">
            <div>
              <label class="form-label">가입 비밀번호 설정</label>
              <input type="radio" class="form-check-inline" value="설정" name="passwordStatus" onclick="passwordOn()">
              <label class="form-label">가입 비밀번호 해제</label>
              <input type="radio" class="form-check-inline" value="해제" name="passwordStatus" onclick="passwordOff()" checked="checked">
            </div>
          </div>

          <div class="mb-3">
            <div>
              <label class="form-label">자동 가입 설정</label>
              <input th:for="groupAutoJoin" type="radio" class="form-check-inline" value="ON" name="groupAutoJoin" checked="checked">
              <label class="form-label">자동 가입 해제</label>
              <input th:for="groupAutoJoin" type="radio" class="form-check-inline" value="OFF" name="groupAutoJoin">
            </div>
          </div>

          <div id="passwordOnOff">
            <div class="mb-3">
              <label th:for="password" autocomplete="false" class="form-label">가입 비밀번호</label>
              <input type="password" class="form-control form-control-lg" id="key" th:field="*{password}">
              <div id="keyShow">SHOW</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-xl">Submit</button>
        </div>
      </form>
    </div>
  </main>

  <div th:replace="fragments/footer :: footer" /></div> <!-- /container -->

<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>

  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });

  function passwordOn() {
    $("#passwordOnOff").show();
  }

  function passwordOff() {
    $("#passwordOnOff").hide();
  }

  window.onload = function () {
    passwordOff();
  }


  $("#key").on("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
    } else {
      if (this.value) {
        $("#keyShow").css("display", "inline-block");
      } else {
        $("#keyShow").hide();
      }
    }
  }).focus();

  $("#keyShow").on("click", function() {
    if ($("#key").attr("type") == "password") {
      $("#key").attr("type", "text");
      $($(this)).text("H I D E");
    } else {
      $("#key").attr("type", "password");
      $($(this)).text("SHOW");
    }
  });

  document.body.scrollIntoView(true);

</script>
</body>
</html>