<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>
<head>
    <link th:href="@{/static/assets/vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

    <div class="col-lg-10">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">그룹 생성하기</h5>

                <!-- General Form Elements -->
                <form class="row" th:action="@{/api/v1/groups/admin/new}" th:object="${createGroupForm}" method="post">
                    <div class="row mb-3">
                        <label th:for="name" class="col-sm-2 col-form-label">그룹명</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" class="form-control"
                                   th:errorclass="field-error" th:field="*{name}"  placeholder="그룹명은 필수입니다." autofocus>
                        </div>
                        <div class="field-error" th:errors="*{name}"></div>
                    </div>

                    <div class="well">
                        <div id="datetimepicker" class="input-append date">
                            <label th:for="joinClosedTime" class="col-sm-2 col-form-label">가입 가능 날짜</label>
                            <input data-format="dd/MM/yyyy hh:mm:ss" type="text" th:field="*{joinClosedTime}" th:errorclass="joinClosedTime">
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                        </div>
                        <div class="field-error" th:errors="*{joinClosedTime}"></div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="maxMember" class="col-sm-2 col-form-label">최대 인원</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:errorclass="maxMember" th:field="*{maxMember}">
                        </div>
                        <div class="field-error" th:errors="*{maxMember}"></div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="description" class="col-sm-2 col-form-label">그룹 설명</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" style="height: 100px" th:field="*{description}"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="skillTag" class="col-sm-2 col-form-label">스킬 태그</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" style="height: 100px" th:field="*{skillTag}"></textarea>
                        </div>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="groupAutoJoin">
                        <label class="form-check-label" for="groupAutoJoin">자동 가입 설정</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="passwordStatus">
                        <label class="form-check-label" for="passwordStatus">가입 비밀번호 설정</label>
                    </div>

                    <div id="passwordOnOff" class="col-sm-10">
                        <div class="mb-3">
                            <label th:for="password" autocomplete="false" class="form-label">가입 비밀번호</label>
                            <input type="password" class="form-control form-control-lg" id="key" th:field="*{password}">
                            <div id="keyShow">SHOW</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit Form</button>
                        </div>
                    </div>

                </form><!-- End General Form Elements -->

            </div>
        </div>

    </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
<!-- End Script -->

<script>

    window.onload = function () {
        $("#passwordStatus").value = "OFF";
        $("#passwordOnOff").hide();
    }



    $("#groupAutoJoin").change(function(){
        if($(this).prop("checked") == true){
            //run code
            this.value="ON";
            console.log(this.value);
        }else{
            //run code
            this.value="OFF";
            console.log(this.value);
        }
    });


    $("#passwordStatus").change(function(){
        if($(this).prop("checked") == true){
            //run code
            this.value = "ON"
            console.log(this.value)
            $("#passwordOnOff").css("display", "inline-block");
        }else{
            //run code
            this.value = "OFF"
            console.log(this.value)
            $("#passwordOnOff").hide();
        }
    });


    $("#key").on("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
        } else {
            if (this.value) {
                $("#keyShow").css("display", "inline-block");
            } else {
                $("#keyShow").hide();
            }
        }
    }).focus();

    $(function() {
        $('#datetimepicker').datetimepicker({
            language: 'pt-BR'
        });
    });


</script>

</body>
</html>