<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
</head>
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="groupId" th:content="${groupId}"/>
</head>


<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader2 :: bodyHeader" /> </div>

    <main>
      <div class="container py-vh-6">

        <div class="row d-flex justify-content-between align-items-center">

          <table class="table" style="margin-top: 25px">
            <thead>
            <tr>
              <th>학교</th>
              <th>학과</th>
              <th>학번</th>
              <th>그룹 권한</th>
              <th>가입 시간</th>
            </tr>
            </thead>
            <td th:text="${memberInfo.schoolName}"></td>
            <td th:text="${memberInfo.department}"></td>
            <td th:text="${memberInfo.privateIdInSchool}"></td>
            <td th:text="${memberInfo.memberGroupAuthority}"></td>
            <td th:text="${memberInfo.joinTime}"></td>
          </table>

          <table class="table" style="margin-top: 25px">
            <thead>
            <tr>
              <th>문제 번호</th>
              <th>문제 이름</th>
              <th>시도 횟수</th>
              <th>최고 점수</th>
              <th>마지막 변경 시간</th>
              <td></td>
            </tr>
            </thead>
            <tr th:each="solve: ${solves}">
              <td th:text="${solve.problemId}"></td>
              <td th:text="${solve.problemName}"></td>
              <td th:text="${solve.triedSolveCount}"></td>
              <td th:text="${solve.maxScore}"></td>
              <td th:text="${solve.lastModifiedTime}"></td>
              <td>
                <button type="button" onclick="chartShowFnc(this)" class="btn btn-primary" th:value="${solve.problemId}">차트 확인</button>
              </td>
            </tr>
          </table>

          <div class="col-lg-6">
            <div class="container">
              <canvas id="myChart1"></canvas>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="container">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        </div>

        <nav style="text-align: center;">
          <ul class="pagination">

          </ul>
        </nav>
      </div>

      </div>
    </main>

    <div th:replace="fragments/footer :: footer" />
  </div> <!-- /container -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script>
  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });
</script>

<script>

  let chartAjaxData = {};
  let chartSolveId = [];
  let chartOneLabel = [];
  let chartMyScore = [];
  let chartOtherScore = [];

  const problemId = $(arg).val();
  const groupId = $("meta[name='groupId']").attr("content");
  const memberId = $("meta[name='memberId']").attr("content");

  function chartShowFnc(arg) {

    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");


    $.ajax({
      type: 'GET',
      contentType: 'application/json',
      url: '/api/v1/groups/admin/' + groupId + '/members/' + memberId + '/' + problemId +'/chart',
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      success: function(data) {
        console.log("success");
        console.log(data);
        chartAjaxData = data;
        chartDraw(chartAjaxData);

      },

      error: function(xhr, status, error) {
        console.log('error:' + error);
        console.log('status:' + status);
        console.log('compile.error');
      }
    })
  }

  function chartDraw(chartAjaxData) {

    chartSolveId = [];
    chartOneLabel = [];
    chartMyScore = [];
    chartOtherScore = [];

    for(let i=0; i<chartAjaxData.myChart.length; i++) {
      chartSolveId.push(chartAjaxData.myChart[i].solveId);
      chartOneLabel.push(chartAjaxData.myChart[i].number + 1);
      chartMyScore.push(chartAjaxData.myChart[i].myScore);
    }

    for(let i=0; i<chartAjaxData.otherChart.length; i++) {
      chartOtherScore.push(chartAjaxData.otherChart[i].otherScore);
    }

    chartDrawCall1(chartSolveId, chartOneLabel, chartMyScore)
    chartDrawCall2(chartSolveId, chartOneLabel, chartMyScore, chartOtherScore)
  }


  function chartDrawCall1(chartSolveId, chartOneLabel, chartMyScore) {

    var ctx = document.getElementById('myChart1').getContext('2d');
    var chart = new Chart(ctx, {
      // 챠트 종류를 선택
      type: 'line',

      // 챠트를 그릴 데이타
      data: {
        labels: chartOneLabel,
        datasets: [{
          label: '점수 통계',
          backgroundColor: 'transparent',
          borderColor: 'black',
          data: chartMyScore
        }]
      },
      // 옵션
      options: {}
    });
  }

  function chartDrawCall2(chartSolveId, chartOneLabel, chartMyScore, chartOtherScore) {

    const colors = ['gray','gray','black','#c3e6cb','#dc3545','#6c757d'];
    // const datas = [589, 445, ...] 선언하고 아래서 datas 변수만 써줘도 된다.

    var ctx = document.getElementById('myChart2');

    var chartData = {
      labels: chartOneLabel,
      datasets: [{
        data: chartMyScore,
        backgroundColor: 'transparent',
        borderColor: colors[2],
        borderWidth: 3,
        pointBackgroundColor: colors[0]
      },
        {
          data: chartOtherScore,
          backgroundColor: colors[1],
          borderColor: colors[0],
          borderWidth: 3,
          pointBackgroundColor: colors[0]
        }
      ]
    };

    var myChart = new Chart(ctx, {
      // 챠트 종류를 선택
      type: 'line',

      // 챠트를 그릴 데이타
      data: chartData,

      // 옵션
      options: {
        legend: {
          display: false
        }
      }
    });

  }

</script>

</body>

</html>