<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

  <div th:replace="fragments/my-pagetitle :: pagetitle('그룹 관리', '그룹', '마이 그룹 관리')" />
  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">마이 그룹 관리</h5>
        <p> <code>가입 신청 관리, 회원 관리, 문제 관리, 그룹 수정 관리 </code>를 할 수 있습니다.</p>
        <!-- Active Table -->

        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">그룹 번호</th>
            <th scope="col">그룹명</th>
            <th scope="col">공개 여부</th>
            <th scope="col">최대 멤버</th>
            <th scope="col">가입 신청 마감 시간</th>
            <th scope="col">자동 가입 설정</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tr th:each="group: ${memberGroups.getContent()}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.name}"></td>
            <td th:text="${group.visibility}"></td>
            <td th:text="${group.maxMember}"></td>
            <td th:text="${group.joinClosedTime}"></td>
            <td th:text="${group.groupAutoJoin}"></td>
            <td>
              <a href="#" th:href="@{/api/v1/groups/admin/{id}/join (id=${group.id})}"
                 class="btn btn-outline-primary btn-sm" role="button">가입 신청 관리</a>
            </td>
            <td>
              <a href="#" th:href="@{/api/v1/groups/admin/{id}/members (id=${group.id})}"
                 class="btn btn-outline-primary btn-sm" role="button">회원 관리</a>
            </td>
            <td>
              <a href="#" th:href="@{/api/v1/groups/admin/{id}/problems (id=${group.id})}"
                 class="btn btn-outline-primary btn-sm" role="button">문제 관리</a>
            </td>
            <td>
              <a href="#" th:href="@{/api/v1/groups/admin/edit/{id} (id=${group.id})}"
                 class="btn btn-outline-primary btn-sm" role="button">그룹 수정</a>
            </td>
          </tr>
        </table>

        <!-- End Tables without borders -->

      </div>

      <div th:replace="fragments/my-pagination :: pagination" />

    </div>
  </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<!-- End Script -->

<script>

</script>

</body>
</html>