<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
    <div th:replace="fragments/bodyHeader2 :: bodyHeader" />
    <main>

        <div class="container py-vh-6">

            <table class="table">
                <thead>
                <tr>
                    <th>그룹 번호</th>
                    <th>그룹명</th>
                    <th>공개 여부</th>
                    <th>최대 멤버</th>
                    <th>가입 신청 마감 시간</th>
                    <th>자동 가입 설정</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tr th:each="group: ${memberGroups.getContent()}">
                    <td th:text="${group.id}"></td>
                    <td th:text="${group.name}"></td>
                    <td th:text="${group.visibility}"></td>
                    <td th:text="${group.maxMember}"></td>
                    <td th:text="${group.joinClosedTime}"></td>
                    <td th:text="${group.groupAutoJoin}"></td>
                    <td>
                        <a href="#" th:href="@{/api/v1/groups/admin/{id}/join (id=${group.id})}"
                           class="btn btn-primary" role="button">가입 신청 관리</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/api/v1/groups/admin/{id}/members (id=${group.id})}"
                           class="btn btn-primary" role="button">회원 관리</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/api/v1/groups/admin/{id} (id=${group.id})}"
                           class="btn btn-primary" role="button">문제 관리</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/api/v1/groups/admin/edit/{id} (id=${group.id})}"
                           class="btn btn-primary" role="button">그룹 수정</a>
                    </td>
                </tr>
            </table>

            <nav style="text-align: center;">
                <ul class="pagination">

                </ul>
            </nav>

        </div>
    </main>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    AOS.init({
        duration: 800, // values from 0 to 3000, with step 50ms
    });
</script>


</body>

</html>