<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header"></head>
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="groupId" th:content="${groupId}"/>
</head>
<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

  <div class="col-lg-10">

    <div class="card-body">
      <h5 class="card-title">그룹 가입 신청 관리</h5>
      <p> <code>회원 정보를 바탕으로 그룹 가입 신청 관리</code>를 할 수 있습니다.</p>
      <!-- Active Table -->

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>그룹 번호</th>
          <th>그룹명</th>
          <th>유저 이름</th>
          <th>유저 학교</th>
          <th>유저 학과</th>
          <th>유저 학번</th>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tr th:each="join: ${joinRequestQueryPageDto.getContent()}">
          <td th:text="${join.groupId}"></td>
          <td th:text="${join.groupName}"></td>
          <td th:text="${join.userName}"></td>
          <td th:text="${join.schoolName}"></td>
          <td th:text="${join.department}"></td>
          <td th:text="${join.privateIdInSchool}"></td>
          <td>
            <button type="button" onclick="joinApproval(this)" class="btn btn-primary" th:value="${join.userId}">요청 승인</button>
          </td>
          <td>
            <button type="button" onclick="joinDenied(this)" class="btn btn-primary" th:value="${join.userId}">요청 거절</button>
          </td>
        </tr>
      </table>

      <!-- End Tables without borders -->

    </div>

    <div th:replace="fragments/my-pagination :: pagination" />

  </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- End Script -->

<script>

  const groupId = $("meta[name='groupId']").attr("content");
  const token = $("meta[name='_csrf']").attr("content");
  const header = $("meta[name='_csrf_header']").attr("content");


  function joinApproval(arg) {

    const memberId = $(arg).val();
    var jqxhr = $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/api/v1/groups/admin/' + groupId + '/join/approval/' + memberId,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      statusCode: {
        307:function(data) {
          window.location.reload();
          return 307;
        }}
    })
            .done(function(data) {
              alert('성공');
            }).
            fail(function( jqXHR, textStatus ) {

              if (jqXHR.status == 307) {
                alert('회원 승인에 성공 하였습니다.');
              } else {
                alert('실패');
                console.log(jqXHR.status);
              }
              return false;
            });
    return false;
  }

  function joinDenied(arg) {
    const memberId = $(arg).val();

    var jqxhr = $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/api/v1/groups/admin/' + groupId + '/join/denial/' + memberId,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      statusCode: {
        307:function(data) {
          window.location.reload();
          return 307;
        }}
    })
            .done(function(data) {
              alert('성공');
            }).
            fail(function( jqXHR, textStatus ) {

              if (jqXHR.status == 307) {
                alert('회원 승인을 거절 하였습니다.');
              } else {
                alert('실패');
                console.log(jqXHR.status);
              }
              return false;
            });
    return false;

  }

</script>

</body>
</html>