<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
</head>
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="groupId" th:content="${groupId}"/>
</head>


<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader2 :: bodyHeader" />

    <main>
      <div class="container py-vh-6">
        <table class="table">
          <thead>
          <tr>
            <th>그룹 번호</th>
            <th>그룹명</th>
            <th>유저 이름</th>
            <th>유저 학교</th>
            <th>유저 학과</th>
            <th>유저 학번</th>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tr th:each="join: ${joinRequestQueryPageDto.getContent()}">
            <td th:text="${join.groupId}"></td>
            <td th:text="${join.groupName}"></td>
            <td th:text="${join.userName}"></td>
            <td th:text="${join.schoolName}"></td>
            <td th:text="${join.department}"></td>
            <td th:text="${join.privateIdInSchool}"></td>
            <td>
              <button type="button" onclick="joinApproval(this)" class="btn btn-primary" th:value="${join.userId}">요청 승인</button>
            </td>
            <td>
              <button type="button" onclick="joinDenied(this)" class="btn btn-primary" th:value="${join.userId}">요청 거절</button>
            </td>
          </tr>
        </table>

        <nav style="text-align: center;">
          <ul class="pagination">

          </ul>
        </nav>

      </div>
    </main>

    <div th:replace="fragments/footer :: footer" />
  </div> <!-- /container -->


<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });

  const groupId = $("meta[name='groupId']").attr("content");
  const token = $("meta[name='_csrf']").attr("content");
  const header = $("meta[name='_csrf_header']").attr("content");


  function joinApproval(arg) {

    const memberId = $(arg).val();
    var jqxhr = $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/api/v1/groups/admin/' + groupId + '/join/approval/' + memberId,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      statusCode: {
        307:function(data) {
          window.location.reload();
          return 307;
        }}
    })
            .done(function(data) {
              alert('성공');
            }).
            fail(function( jqXHR, textStatus ) {

              if (jqXHR.status == 307) {
                alert('회원 승인에 성공 하였습니다.');
              } else {
                alert('실패');
                console.log(jqXHR.status);
              }
              return false;
            });
    return false;
  }

  function joinDenied(arg) {
    const memberId = $(arg).val();

    var jqxhr = $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/api/v1/groups/admin/' + groupId + '/join/denial/' + memberId,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      statusCode: {
        307:function(data) {
          window.location.reload();
          return 307;
        }}
    })
            .done(function(data) {
              alert('성공');
            }).
            fail(function( jqXHR, textStatus ) {

              if (jqXHR.status == 307) {
                alert('회원 승인을 거절 하였습니다.');
              } else {
                alert('실패');
                console.log(jqXHR.status);
              }
              return false;
            });
    return false;

  }


</script>


</body>

</html>