<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">

      <div class="container position-relative">
        <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
             style="background-image: url(/static/img/jpg/1.jpg);">

        </div>
        <div class="row">

          <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
            <h1 class="display-1 fw-bold mt-5">코드뷰어</h1>
            <p class="lead">안전한 시험, 편안한 감독, 지금 코드뷰어와 함께 하세요</p>

            <div sec:authorize="isAnonymous()">
              <a th:href="@{/login}" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">로그인</a>
            </div>
            <div sec:authorize="isAuthenticated()">
              <div><h2>안녕하세요 <span th:text="${user}"/> 님</h2></div>

              <div class="col-md-9 flex-fill nav-link" th:href="@{/api/v1/temp/admin/create/group}" style=" cursor: pointer;" onclick="location.href='/api/v1/temp/admin/create/group';">
                <h3 class="h5 my-2">데이터 추가</h3>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <main>
    <div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
      <div class="container-fluid">
        <div class="row overflow-scroll">
          <div class="col-12">
            <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">

              <div class="col-md-2" data-aos="fade-up">
                <img th:src="@{/static/img/jpg/2.jpg}" class="rounded shadow img-fluid" alt="nice gallery image"
                     width="512" height="341">
              </div>

              <div class="col-md-2" data-aos="fade-up" data-aos-delay="200">
                <img th:src="@{/static/img/jpg/3.jpg}" class="img-fluid rounded shadow" alt="nice gallery image" width="1164"
                     height="776">
              </div>

              <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                <img th:src="@{/static/img/jpg/4.jpg}" class="img-fluid rounded shadow" alt="nice gallery image" width="844"
                     height="1054">
              </div>

              <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                <img th:src="@{/static/img/jpg/5.jpg}" class="img-fluid rounded shadow" alt="nice gallery image"
                     width="844" height="562">
              </div>

              <div class="col-md-2" data-aos="fade-up" data-aos-delay="800">
                <img th:src="@{/static/img/jpg/6.jpg}" class="rounded shadow img-fluid" alt="nice gallery image" width="512"
                     height="341">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="workwithus">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8 text-center" data-aos="fade">
              <p class="text-secondary lead">서비스 dsdsd미리보기</p>
              <h2 class="display-6 mb-5">온라인 IDE 환경을 제공하여, 실시간 코드 결과를 확인할 수 있습니다.</h2>
              <form class="row" th:object="${indexTestForm}" method="post">
                <div>
                  <div>
                    <label th:for="source" class="form-label">"Hello CODEVIEWER"를 출력하세요</label>
                    <input type="text" id="textSource" class="form-control form-control-lg input-group-prepend" th:field="*{source}">
                  </div>
                </div>
                <div class="col-12">
                  <button type="button" id="ajaxIndexTest" onclick="ajaxCall()" class="btn btn-warning btn-xl shadow me-3 mt-4" data-aos="fade-down">Submit</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->


<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });
</script>

<script>

  function ajaxCall() {
    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");
    const source = $("#textSource").val();

    const jsonData = {
      "source": source
    }

    $.ajax({

      type: 'POST',
      contentType: 'application/json',
      url: '/api/v1/test/index',
      data: JSON.stringify(jsonData),
      beforeSend: function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      async: true,
      cache: true,
      success: function(data) {
        console.log("success");
        console.log(data);

        if (data != 'RuntimeError') {

          $.ajax({

            type: 'GET',
            contentType: 'application/json',
            url: 'http://localhost:5000/api/v1/test/index/compile?filename=' + data,
            headers: { 'Content-Type': 'application/json' },
            data: {},
            async: true,
            cache: true,
            success: function(data) {
              console.log(data.filename);
              console.log(data.result);



              $.ajax({

                type: 'POST',
                contentType: 'application/json',
                url: '/api/v1/test/index',
                data: JSON.stringify(jsonData),
                beforeSend: function (xhr) {
                  xhr.setRequestHeader(header, token);
                },
                async: true,
                cache: true,
                success: function (data) {
                },
                error: function (xhr, status, error) {
                  console.log('error:' + error);
                  console.log('status:' + status);
                },
              });
            },



            error: function(error) {
              console.log('error:' + error);
              console.log('flask error')
            }
          });
        } else {
          console.log("RuntimeError");
          alert("Runtime Error");
        }
      },


      error: function(xhr, status, error) {
        console.log('error:' + error);
        console.log('status:' + status);
        console.log('compile.error');
      }
    })
  }


</script>

</body>

</html>