<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a th:href="@{/}" class="logo d-flex align-items-center w-auto">
                  <img th:src="@{/static/assets/img/logo.png}" alt="">
                  <span class="d-none d-lg-block">홈 이동</span>
                </a>
              </div><!-- End Logo -->

              <div sec:authorize="isAnonymous()">
                <div class="card mb-3">

                  <div class="card-body">

                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                      <p class="text-center small">Social Login</p>
                    </div>

                    <div class="card-body">
                      <button type="button" th:onclick="|location.href='@{/oauth2/authorization/google}'|" class="btn btn-outline-secondary">GOOGLE</button>
                      <button type="button" th:onclick="|location.href='@{/oauth2/authorization/naver}'|" class="btn btn-outline-success">NAVER</button>
                      <button type="button" th:onclick="|location.href='@{/oauth2/authorization/kakao}'|" class="btn btn-outline-warning">KAKAO</button>
                    </div>

                  </div>
                </div>
              </div>

              <div sec:authorize="isAuthenticated()">
                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Logout to Your Account</h5>
                    <p class="text-center small">Social Logout</p>
                  </div>


                  <div class="card-body" style="justify-content: center;">
                    <button type="button" th:onclick="|location.href='@{/}'|" class="btn btn-outline-primary">Home</button>
                    <button type="button" th:onclick="|location.href='@{/logout}'|" class="btn btn-outline-secondary">Logout</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="fragments/my-footer :: footer" />
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= Script ======= -->
  <div th:replace="fragments/my-script :: script" />
  <!-- End Script -->

</body>

</html>