<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="fragments/my-body-header :: bodyHeader" />
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <div th:replace="fragments/my-sidebar :: sidebar" />
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>내 정보 관리</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">홈</a></li>
          <li class="breadcrumb-item">마이 페이지</li>
          <li class="breadcrumb-item active">내 정보 관리</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">정보 입력</h5>

              <!-- General Form Elements -->
              <form th:action="@{/api/v1/members/profile}" th:object="${memberForm}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="row mb-3">
                  <label th:for="memberName" class="col-sm-2 col-form-label">이름</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{memberName}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label th:for="picture" class="col-sm-2 col-form-label">프로필 이미지</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" th:field="*{picture}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label th:for="age" class="col-sm-2 col-form-label">나이</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{age}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label th:for="school" class="col-sm-2 col-form-label">학교</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{school}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label th:for="department" class="col-sm-2 col-form-label">학과</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{department}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">직책</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" id="viewWork" onchange="updateWork()">
                      <option selected>직책을 선택하세요</option>
                      <option value="student">학생</option>
                      <option value="professor">교수</option>
                      <option value="personnel">교직원</option>
                      <option value="user">일반</option>
                    </select>
                  </div>
                </div>
                <div hidden>
                  <input type="text" id="work" class="form-control" th:field="*{work}">
                </div>
                <div class="row mb-3">
                  <label th:for="privateIdInSchool" class="col-sm-2 col-form-label">학번/교번/사번</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{privateIdInSchool}">
                  </div>
                </div>
              </form>
              <!-- End General Form Elements -->

              </div>
            </div>

          </div>
          </div>
        </div>

      </div>
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="fragments/my-footer :: footer" />
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= Script ======= -->
  <div th:replace="fragments/my-script :: script" />
  <script>

    function updateWork() {
      let viewWork = $("#viewWork option:selected").val();
      $("#work").attr("value", viewWork);
    }

  </script>
  <!-- End Script -->

</body>

</html>