<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header"></head>

<head>
  <meta name="groupId" th:content="${groupId}"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .custom-container-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .io-overflow-auto {
      overflow: auto;
      height: 50px;
    }
    .text-overflow-auto {
      overflow: auto;
      height: 70px;
    }
    .title-overflow-auto {
      overflow: auto;
      height: 30px;
    }
    .text-height {
      height: 100px;
    }
  </style>
</head>
<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

  <div th:replace="fragments/my-pagetitle :: pagetitle('질문 등록', '질문', '질문 등록')" />
  <div>
    <div id="changeCreateProblem">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">질문 등록하기 </h5>

          <div class="mb-auto col-8">



            <form class="needs-validation" th:action="@{/api/v1/groups/{groupId}/problems/board (groupId=${groupId})}"
                  enctype="multipart/form-data" th:object="${boardForm}" method="post">


              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="inlineFormCustomSelect">질문 분야</label>
                <div class="col-sm-10">
                  <select aria-label="select example" class="form-select" id="inlineFormCustomSelect" onchange="changeValue(this)" required>
                    <option selected>질문 분야</option>
                    <option value="1">문제</option>
                    <option value="2">실행 오류</option>
                    <option value="3">기타</option>
                  </select>
                  <div class="invalid-feedback"> 질문 분야를 선택하세요. </div>
                </div>
              </div>

              <div class="row mb-3 position-relative" id="problemIdShow">
                <label class="col-sm-2 col-form-label" for="problemId">문제 번호</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" onclick="showPopup();" id='problemId' name='problemId' value=''>
                </div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" th:for="boardName">제목</label>
                <div class="col-sm-10">
                  <input class="form-control" th:field="*{boardName}" onchange="previewProblemTag(this)" required type="text" value="">
                </div>
                <div class="field-error" th:errors="*{boardName}"></div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" th:for="boardMain">내용</label>
                <div class="col-sm-10">
<!--                  <textarea class="form-control" th:field="*{boardMain}" required style="height: 400px"></textarea>-->
                  <textarea id="boardMain" class="form-control" rows="10"  th:field="*{boardMain}" required style="width:100%; min-width:260px; height:30em;"></textarea>
                </div>
                <div class="field-error" th:errors="*{boardMain}"></div>
              </div>

              <div class="row mb-3 position-relative">
                <div>
                  <label class="form-label">비공개 등록</label>
                  <input th:for="nondisclosure" type="radio" class="form-check-inline" value="ON" name="nondisclosure" checked="checked">
                  <label class="form-label">비공개 해제</label>
                  <input th:for="nondisclosure" type="radio" class="form-check-inline" value="OFF" name="nondisclosure">
                  <div class="field-error" th:errors="*{nondisclosure}"></div>
                </div>
              </div>

              <div class="row mb-3 position-relative">
                  <div>
                    <label class="form-label">익명 등록</label>
                    <input th:for="anonymousCheck" type="radio" class="form-check-inline" value="ON" name="anonymousCheck" checked="checked">
                    <label class="form-label">익명 해제</label>
                    <input th:for="anonymousCheck" type="radio" class="form-check-inline" value="OFF" name="anonymousCheck">
                    <div class="field-error" th:errors="*{anonymousCheck}"></div>
                  </div>
              </div>

                <button type="submit" class="btn btn-outline-primary" onclick="save();">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script th:src="@{/static/libs/smarteditor/js/service/HuskyEZCreator.js}" charset="utf-8"></script>

<!-- End Script -->

<script>

  const groupId = $("meta[name='groupId']").attr("content");

  function getHtml(){
    var html = $("#boardMain").val().replace(/(?:\r\n|\r|\n)/g, '<br />');
    $("#boardMainResult").html(html);
  }

  function showPopup() {

    window.open("/api/v1/groups/" + groupId + "/problems/board/problemList", "a", "width=800, height=600, left=100, top=50");
  }


  function problemIdShowOn() {
    $("#problemIdShow").show();
  }

  function problemIdShowOff() {
    $("#problemIdShow").hide();
  }

  window.onload = function () {
    problemIdShowOff();
  }

  const changeValue = (target) => {

    if (target.value == "1") {
      problemIdShowOn()
    } else {
      problemIdShowOff()
    }

  }

</script>

<script id="smartEditor" type="text/javascript">
  let oEditors = [];
  nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors,
    elPlaceHolder: "boardMain",  //textarea ID 입력
    sSkinURI: "/static/libs/smarteditor/SmartEditor2Skin.html",  //martEditor2Skin.html 경로 입력
    fCreator: "createSEditor2",
    htParams : {
      // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
      bUseToolbar : true,
      // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
      bUseVerticalResizer : true,
      // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
      bUseModeChanger : true
    }
  });

  function save(){
    oEditors.getById["boardMain"].exec("UPDATE_CONTENTS_FIELD", []);
    //스마트 에디터 값을 텍스트컨텐츠로 전달
    let content = document.getElementById("smartEditor").value;
    alert(document.getElementById("boardMain").value);
    // 값을 불러올 땐 document.get으로 받아오기
    return;
  }
</script>

</body>
</html>