<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="memberId" th:content="${memberId}"/>
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

    <div th:replace="fragments/my-pagetitle :: pagetitle('그룹 찾기', '그룹', '그룹 찾기')" />
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">그룹 찾기</h5>
                <p> <code> 원하는 그룹</code>을 찾을 수 있습니다.</p>
                <!-- Active Table -->

                <div>
                    <button type="button" class="btn btn-light rounded-pill">전체 그룹</button>
                    <button type="button" class="btn btn-light rounded-pill">가입한 그룹</button>
                    <button type="button" class="btn btn-light rounded-pill">미가입 그룹</button>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>그룹 번호</th>
                        <th>그룹명</th>
                        <th>공개 여부</th>
                        <th>최대 멤버</th>
                        <th>가입 신청 마감 시간</th>
                        <td></td>
                    </tr>
                    </thead>
                    <tr th:each="group: ${memberGroups.getContent()}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.name}"></td>
                        <td th:text="${group.visibility}"></td>
                        <td th:text="${group.maxMember}"></td>
                        <td th:text="${group.joinClosedTime}"></td>
                        <td>
                            <button type="button" onclick="groupJoin(this)" class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal" data-target="#joinModal" th:value="${group.id}" th:id="${group.id}">가입 신청</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div th:replace="fragments/my-pagination :: pagination" />
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Tables without borders -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- End Script -->

<script>

    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");
    const memberId = $("meta[name='memberId']").attr("content");


    function groupJoin(arg) {

        const groupId = $(arg).val();
        var jqxhr = $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: '/api/v1/groups/' + groupId + '/join/' + memberId,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            async: true,
            cache: true,
            statusCode: {
                307:function(data) {
                    alert("가입 신청 완료")
                    window.location.reload();
                    return 307;
                }}
        })
            .done(function(data) {
                alert('성공');
            }).
            fail(function( jqXHR, textStatus ) {

                if (jqXHR.status == 307) {

                    console.log(jqXHR.data);
                    window.location.reload();
                    return 307;

                } else {
                    alert('실패');
                    console.log(jqXHR.status);
                }
                return false;
            });
        return false;
    }


    $('#joinModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })


</script>

</body>
</html>