<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="groupId" th:content="${groupId}"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .custom-container-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .io-overflow-auto {
      overflow: auto;
      height: 50px;
    }
    .text-overflow-auto {
      overflow: auto;
      height: 70px;
    }
    .title-overflow-auto {
      overflow: auto;
      height: 30px;
    }
    .text-height {
      height: 100px;
    }
  </style>
</head>
<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>문제 생성</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">홈</a></li>
        <li class="breadcrumb-item">그룹</li>
        <li class="breadcrumb-item active">문제</li>
      </ol>
    </nav>
  </div>

  <div>

    <div id="changeCreateProblem">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">문제 생성 <button type="button" class="btn btn-outline-primary btn-sm" id="changeProblemButton" onclick="changeForm()">미리보기</button> </h5>

          <div class="mb-auto col-8">

            <form class="needs-validation" id="problemCreateForm" novalidate>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="selectProblem">문제 출제 형식</label>
                <div class="col-sm-10">
                  <select aria-label="select example" class="form-select" id="selectProblem" onchange="selectProblemType(this.value)" required>
                    <option value="">선택 하세요</option>
                    <option value="homeworkType">과제형</option>
                    <option value="testType">시험형</option>
                  </select>
                  <div class="invalid-feedback"> 출제 형태를 선택하세요 </div>
                </div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="problemName">문제명</label>
                <div class="col-sm-10">
                  <input class="form-control" id="problemName" name="problemName" onchange="previewProblemName()" required type="text" value="">
                </div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="openTime">오픈 시간</label>
                <div class="col-sm-10">
                  <input id="openTime" name='openTime' class="form-control" type='date' value='서버에 전송할 값'/>
                </div>
                <div class="valid-tooltip"></div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="closedTime">마감 시간</label>
                <div class="col-sm-10">
                  <input id="closedTime" name='closedTime' class="form-control" type='date' value='서버에 전송할 값'/>
                </div>
                <div class="invalid-tooltip"></div>
              </div>

              <div class="row mb-3 position-relative">
                <label class="col-sm-2 col-form-label" for="descriptions">문제 설명</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="descriptions" name="descriptions" onchange="previewProblemDescription()" placeholder="문제 설명을 작성 하세요." required style="height: 100px"></textarea>
                </div>
                <div class="invalid-feedback"> 문제 설명을 작성 하세요.</div>
              </div>

              <div id="addSampleForm">
                <div class="row mb-3 position-relative">
                  <label class="col-sm-2 col-form-label" for="problemInput0">입력 예시 작성</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="problemInput0" name="inputs" onchange="previewProblemInput0()" placeholder="입력 예시를 작성 하세요" required style="height: 100px"></textarea>
                  </div>
                </div>
                <div class="row mb-3 position-relative">
                  <label class="col-sm-2 col-form-label" for="problemOutput0">출력 예시 작성</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" id="problemOutput0" name="outputs" onchange="previewProblemOutput0()" placeholder="출력 예시를 작성 하세요" required style="height: 100px"></textarea>
                  </div>
                </div>
              </div>

              <div class="row mb-3 position-relative">
                  <a href="javascript:void(0);" id="addSampleParam">입출력 예시 추가하기</a>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">문제 등록 및 입출력 파일 서버 테스트
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="ajaxServerTestCall()">서버 테스트</button></h5>

                  <div class="row mb-3 position-relative">
                    <label class="col-sm-2 col-form-label" for="problemFile">문제 파일 등록</label>
                    <div class="col-sm-10">
                      <input aria-label="file example" class="form-control form-control-lg" required type="file" id="problemFile" name="problemFile">
                    </div>
                    <div class="invalid-feedback">문제 등록은 필수입니다.</div>
                  </div>

                  <div id="divZipForm">
                    <div class="row mb-3 position-relative">
                      <label class="col-sm-2 col-form-label" for="ioZipFile">입출력 zip 등록 </label>
                      <div class="col-sm-10">
                        <input class="form-control form-control-lg" id="ioZipFile" required name="ioZipFile" onchange="ajaxZipCall()" type="file">
                      </div>
                      <div style="display: none">
                        <input id="preFilePath" name="preFilePath" type="text" value="">
                      </div>
                      <div class="invalid-feedback">입출력 zip 파일 등록은 필수입니다.</div>
                    </div>
                    <div id="ajaxIoUnzipFile"></div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">문제 등록</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="changePreview" style="display: none">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">문제 <button type="button" class="btn btn-outline-primary btn-sm" id="changeBackButton" onclick="changeBackForm()">돌아가기</button> </h5>

          <div class="mb-auto col-5">
            <div>
              <h1>문제명</h1>
              <div>
                <div class="card">
                  <div class="card-header" id="problemTypePreview" value="test">
                    문제 타입
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <div class="title-overflow-auto" id="previewProblemName">
                        문제명
                      </div>
                    </h5>
                    <p class="card-text overflow-auto">
                    </p>
                  </div>
                </div>
                <br>
              </div>
            </div>
              <div>
                <h1> 문제 설명 </h1>
                <div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title overflow-auto text-overflow-auto" id="previewProblemDescription">
                        입력</h5>
                      <p class="card-text">
                      </p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div>
                <h1> 입출력 예시 </h1>
                <div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        입력</h5>
                      <p class="card-text io-overflow-auto" id="previewProblemInput0">
                      </p>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">출력</h5>
                      <p class="card-text io-overflow-auto" id="previewProblemOutput0">
                      </p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div id="previewAddIOExample"></div>
            </div>
          </div>
        </div>
    </div>
  </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- End Script -->

<script>

  let selectProblemType = function (value) {
    console.log(value);
    if (value == "homeworkType") {
      $("#problemTypePreview").text("과제형");
    } else if (value == "testType") {
      $("#problemTypePreview").text("시험형");
    }
  }

  function previewProblemName()  {
    const name = document.getElementById('problemName').value;
    document.getElementById("previewProblemName").innerText = name;
  }
  function previewProblemDescription()  {
    const name = document.getElementById('descriptions').value;
    document.getElementById("previewProblemDescription").innerText = name;
  }
  function previewProblemInput0()  {
    const name = document.getElementById('problemInput0').value;
    document.getElementById("previewProblemInput0").innerText = name;
  }
  function previewProblemOutput0()  {
    const name = document.getElementById('problemOutput0').value;
    document.getElementById("previewProblemOutput0").innerText = name;
  }

  let ajaxIoFilePath = []
  const token = $("meta[name='_csrf']").attr("content");
  const header = $("meta[name='_csrf_header']").attr("content");
  const groupId = $("meta[name='groupId']").attr("content");
  $(document).ready(function() {
    $('#addDescriptionParam').click(function() {
      const html = '<br/>  ' +
              '<label class="form-label">문제 설명\n' + '<input type="text" class="form-control form-control-lg" name="descriptions">\n' + '</label>'
      $('#addDescriptionForm').append(html);});});
  $(document).ready(function() {
    $('#addSampleParam').click(function() {
      const html =
              '              <div class="row mb-3 position-relative">\n' +
              '                <label class="col-sm-2 col-form-label">입력 예시 작성 </label>\n' +
              '                <div class="col-sm-10">\n' +
              '                  <textarea class="form-control" name="inputs" onchange="previewProblemInput0()" placeholder="입력 예시를 작성 하세요" required style="height: 100px"></textarea>\n' +
              '                </div>' +
              '              </div>\n' +
              '              <div class="row mb-3 position-relative">\n' +
              '                <label class="col-sm-2 col-form-label">출력 예시 작성</label>' +
              '                <div class="col-sm-10">\n' +
              '                  <textarea class="form-control" name="outputs" onchange="previewProblemOutput0()" placeholder="출력 예시를 작성 하세요" required style="height: 100px"></textarea>' +
              '                </div>' +
              '              </div>'



      const previewHtml =
              '<div>\n' +
              '                <h1> 입출력 예시 </h1>\n' +
              '\n' +
              '                <div>\n' +
              '                  <div class="card">\n' +
              '                    <div class="card-body">\n' +
              '                      <h5 class="card-title">\n' +
              '                        입력</h5>\n' +
              '                      <p class="card-text privewAddInputs"></p>\n' +
              '                    </div>\n' +
              '                    <div class="card-body">\n' +
              '                      <h5 class="card-title">출력</h5>\n' +
              '                      <p class="card-text privewAddOutputs"></p>\n' +
              '                    </div>\n' +
              '                  </div>\n' +
              '                  <br>\n' +
              '                </div>\n' +
              '              </div>'
      $('#addSampleForm').append(html);
      $('#previewAddIOExample').append(previewHtml);});});

  jQuery.fn.serializeObject = function() {
    let obj = null;
    try { if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
      const arr = this.serializeArray(); if (arr) { obj = {}; jQuery.each(arr, function() {
        if (this.name === "descriptions" || this.name === "inputs" || this.name === "outputs") {if (typeof obj[this.name] != "object") {
          if (obj[this.name] == null) { obj[this.name] = []} }obj[this.name].push(this.value)} else { obj[this.name] = this.value }}); } }
    } catch (e) { alert(e.message); } finally { }
    return obj;};


  function ajaxZipCall() {

    let formData = new FormData();
    formData.append("ioZipFile", jQuery('#ioZipFile')[0].files[0]);
    formData.append("preFilePath", document.getElementById('preFilePath').value);

    console.log(formData)

    $.ajax({
      type: 'POST',
      contentType: false,
      processData: false,
      cache: false,
      enctype : 'multipart/form-data',
      url: '/api/v1/groups/admin/' + groupId + '/problems/upload/io',
      data: formData,
      beforeSend: function(xhr) {xhr.setRequestHeader(header, token);},
      async: true,
      cache: true,
      success: function(data) {
        console.log(data);
        ajaxIoFilePath = data;
        document.getElementById('preFilePath').value = ajaxIoFilePath.folderPath;
        console.log(ajaxIoFilePath)
        alert("등록이 완료 되었습니다.")
        $("#ajaxIoUnzipFile").html(""); // 태그 초기화
        $(document).ready(function() {
          for (let i=0; i<ajaxIoFilePath.inputs.length; i++) {
            console.log(ajaxIoFilePath.inputs[i]);
            $('#ajaxIoUnzipFile').each(function () {

              if (i % 2 == 0) {
                const html = '</br> <i class="fa fa-file-text-o fa-2x" aria-hidden="true">&nbsp;&nbsp;' + ajaxIoFilePath.inputs[i] + '&nbsp;&nbsp;&nbsp;&nbsp;</i>'
                $('#ajaxIoUnzipFile').append(html);
              } else {
                const html = '<i class="fa fa-file-text-o fa-2x" aria-hidden="true">&nbsp;&nbsp;' + ajaxIoFilePath.inputs[i] + '&nbsp;&nbsp;&nbsp;&nbsp;</i>'
                $('#ajaxIoUnzipFile').append(html);
              }

            }); } });
        $(document).ready(function() {
          for (let i=0; i<ajaxIoFilePath.outputs.length; i++) {
            $('#ajaxIoUnzipFile').each(function() {

              if (i % 2 == 0) {
                const html = '<i class="fa fa-file-text-o fa-2x" aria-hidden="true">&nbsp;&nbsp;' + ajaxIoFilePath.outputs[i] + '&nbsp;&nbsp;&nbsp;&nbsp;</i>'
                $('#ajaxIoUnzipFile').append(html);
              } else {
                const html = '<i class="fa fa-file-text-o fa-2x" aria-hidden="true">&nbsp;&nbsp;' + ajaxIoFilePath.outputs[i] + '&nbsp;&nbsp;&nbsp;&nbsp;</i>'
                $('#ajaxIoUnzipFile').append(html);
              }

            });}});},
      error: function(xhr, status, error) {
        console.log('error:' + error);
        $("#ioZipFile").val("");
        alert("파일은 .in, .out 확장자만 가능 합니다.")
      }
    })
  }



  function ajaxServerTestCall() {

    let formData = new FormData();
    formData.append("problemFile", jQuery('#problemFile')[0].files[0]);
    formData.append("ioZipFile", jQuery('#ioZipFile')[0].files[0]);
    formData.append("preFilePath", document.getElementById('preFilePath').value);


    $.ajax({
      type: 'POST',
      contentType: false,
      processData: false,
      cache: false,
      enctype : 'multipart/form-data',
      url: '/api/v1/groups/admin/' + groupId + '/problems/upload/server',
      data: formData,
      beforeSend: function(xhr) {xhr.setRequestHeader(header, token);},
      async: true,
      cache: true,
      success: function(data) {
        console.log(data);
      },
      error: function(xhr, status, error) {
        console.log('error:' + error);
        console.log('status:' + status);
      }
    })
  }

  function changeForm() {
    document.getElementById("changeCreateProblem").style.display = "none";
    document.getElementById("changePreview").style.display = "block";

  }

  function changeBackForm() {
    document.getElementById("changeCreateProblem").style.display = "block";
    document.getElementById("changePreview").style.display = "none";

  }

</script>

</body>
</html>