<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header"></head>
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="groupId" th:content="${groupId}"/>
</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader2 :: bodyHeader" />
  <main class="mb-auto col-12">
    <h1>문제 생성</h1>
    <div sec:authorize="isAuthenticated()">
      <form id="problemCreateForm" class="row" method="post" enctype="multipart/form-data">
        <!--            <input type="hidden" th:field="*{id}" />-->
        <div class="col-12 col-lg-10 col-xl-8">

          <div class="mb-3">
            <label class="form-label">문제명
              <input type="text" value="" name="name" class="form-control form-control-lg" placeholder="문제명은 필수입니다.">
            </label>
          </div>

          <div class="mb-3">
            <label class="form-label">오픈 시간
              <input type="text" value="" name="openTime" class="form-control form-control-lg" placeholder="오픈 시간">
            </label>
          </div>

          <div class="mb-3">
            <label class="form-label">마감 시간
              <input type="text" value="" name="closedTime" class="form-control form-control-lg" placeholder="마감 시간">
            </label>
          </div>



          <div class="mb-3" id="addDescriptionForm">
            <label class="form-label">문제 설명
              <input type="text" class="form-control form-control-lg" name="descriptions">
            </label>
          </div>
          <a id="addDescriptionParam" href="javascript:void(0);">문제 설명 추가</a>

          <div class="mb-3" id="addSampleForm">
            <label class="form-label">인풋
              <input type="text" class="form-control form-control-lg" name="inputs">
            </label>
            <label class="form-label">아웃풋
              <input type="text" class="form-control form-control-lg" name="outputs">
            </label>
          </div>
          <a id="addSampleParam" href="javascript:void(0);">샘플 추가</a>


          <div class="mb-3">
            <label class="form-label">문제 파일 업로드
              <input type="file" class="form-control form-control-lg" name="problemFile" id="problemFile">
            </label>
          </div>
        </div>

        <!--              <div class="mb-3">-->
        <!--                <label class="form-label">쉘 파일 업로드-->
        <!--                  <input type="file" class="form-control form-control-lg" name="shellFile" id="shellFile">-->
        <!--                </label>-->
        <!--              </div>-->

        <!--              <div class="mb-3">-->
        <!--                <label class="form-label">인풋 파일 업로드-->
        <!--                  <input type="file" class="form-control form-control-lg" name="inputFile" id="inputFile">-->
        <!--                </label>-->
        <!--              </div>-->

        <button type="button" id="ajaxProblemCall" onclick="ajaxCall()" class="btn btn-primary btn-xl">문제 등록</button>
      </form>

      </br>
      </br>
      <div id="ajaxIoUnzipFile">
      </div>
      </br>
      </br>
      <form id="problemIoZipForm" class="row" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">입출력 파일 업로드
            <input type="file" class="form-control form-control-lg" name="ioZipFile" id="ioZipFile">
          </label>
        </div>
        <button type="button" id="ajaxProblemZipCall" onclick="ajaxZipCall()" class="btn btn-primary btn-xl">입출력 파일 등록</button>
      </form>

      </br>
      <form id="inputDockerTestForm" class="row" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">문제 파일
            <input type="file" class="form-control form-control-lg" name="mainSource" id="mainSource">
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">입출력 파일
            <input type="file" class="form-control form-control-lg" name="ioFileZip" id="ioFileZip">
          </label>
        </div>
        <button type="button" id="inputDockerTest" onclick="ajaxDockerCall()" class="btn btn-primary btn-xl">도커 테스트</button>
      </form>

    </div>
  </main>
  <div th:replace="fragments/footer :: footer" /></div> <!-- /container -->

<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>

  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });

  let ajaxIoFilePath = []
  const token = $("meta[name='_csrf']").attr("content");
  const header = $("meta[name='_csrf_header']").attr("content");
  const groupId = $("meta[name='groupId']").attr("content");

  $(document).ready(function() {
    $('#addDescriptionParam').click(function() {
      const html = '<br/>  ' +
              '<label class="form-label">문제 설명\n' + '<input type="text" class="form-control form-control-lg" name="descriptions">\n' + '</label>'
      $('#addDescriptionForm').append(html);});});

  $(document).ready(function() {
    $('#addSampleParam').click(function() {
      const html = '<br/>                 ' + '<label class="form-label">인풋\n' + '<input type="text" class="form-control form-control-lg" name="inputs">\n' + '</label>\n' +
              '<label class="form-label">아웃풋\n' + '<input type="text" class="form-control form-control-lg" name="outputs">\n' + '</label>'
      $('#addSampleForm').append(html);});});


  function ajaxCall() {
    const form = $("#problemCreateForm")[0];
    const formData = new FormData(form);

    $.ajax({
      type: 'POST',
      contentType: false,
      processData: false,
      cache: false,
      enctype : 'multipart/form-data',
      url: '/api/v1/groups/admin/' + groupId + '/problems/new',
      data: formData,
      beforeSend: function(xhr) {xhr.setRequestHeader(header, token);},
      async: true,
      cache: true,
      success: function(data) {
        location.href = "/api/v1/groups/admin/" + groupId + "/problems/" + data.problemId;
      },

      error: function(xhr, status, error) {
        console.log('error:' + error);
      }})}


  jQuery.fn.serializeObject = function() {
    let obj = null;
    try { if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
      const arr = this.serializeArray(); if (arr) { obj = {}; jQuery.each(arr, function() {
        if (this.name === "descriptions" || this.name === "inputs" || this.name === "outputs") {if (typeof obj[this.name] != "object") {
          if (obj[this.name] == null) { obj[this.name] = []} }obj[this.name].push(this.value)} else { obj[this.name] = this.value }}); } }
    } catch (e) { alert(e.message); } finally { }
    return obj;};


  function ajaxZipCall() {
    const form = $("#problemIoZipForm")[0];
    const formData = new FormData(form);

    $.ajax({
      type: 'POST',
      contentType: false,
      processData: false,
      cache: false,
      enctype : 'multipart/form-data',
      url: '/api/v1/groups/admin/' + groupId + '/problems/upload/io',
      data: formData,
      beforeSend: function(xhr) {xhr.setRequestHeader(header, token);},
      async: true,
      cache: true,
      success: function(data) {
        console.log(data);
        ajaxIoFilePath = data;

        $("#ajaxIoUnzipFile").html(""); // 태그 초기화
        $(document).ready(function() {
          for (let i=0; i<ajaxIoFilePath.inputs.length; i++) {
            $('#ajaxIoUnzipFile').each(function () {
              const html = '<a href=' + '"' + ajaxIoFilePath.inputs[i] + '"' + 'download="io.in" >' + '업로드 파일' + '</a>'
              $('#ajaxIoUnzipFile').append(html);
            }); } });

        $(document).ready(function() {
          for (let i=0; i<ajaxIoFilePath.outputs.length; i++) {
            $('#ajaxIoUnzipFile').each(function() {
              const html = '<a href=' + '"' + ajaxIoFilePath.outputs[i] + '"' + '>' + ' 파일' + '</a>'
              $('#ajaxIoUnzipFile').append(html);
            });}});},

      error: function(xhr, status, error) {
        console.log('error:' + error);
      }
    })
  }

  function ajaxDockerCall() {
    const form = $("#inputDockerTestForm")[0];
    const formData = new FormData(form);

    $.ajax({
      type: 'POST',
      contentType: false,
      processData: false,
      cache: false,
      enctype : 'multipart/form-data',
      url: '/api/v1/groups/admin/' + groupId + '/problems/upload/docker',
      data: formData,
      beforeSend: function(xhr) {xhr.setRequestHeader(header, token);},
      async: true,
      cache: true,
      success: function(data) {
        console.log(data);
      },

      error: function(xhr, status, error) {
        console.log('error:' + error);
        console.log('status:' + status);
      }
    })
  }

</script>
</body>
</html>