<!DOCTYPE html>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/my-header :: header">
</head>

<head>
  <meta name="groupId" th:content="${groupId}"/>
  <meta name="problemId" th:content="${problemId}"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .custom-container-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .io-overflow-auto {
      overflow: auto;
      height: 50px;
    }
    .text-overflow-auto {
      overflow: auto;
      height: 70px;
    }
    .title-overflow-auto {
      overflow: auto;
      height: 30px;
    }
    .text-height {
      height: 100px;
    }
  </style>
</head>
<body>

<!-- ======= Header ======= -->
<div th:replace="fragments/my-body-header :: bodyHeader" />
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/my-sidebar :: sidebar" />
<!-- End Sidebar-->

<main id="main" class="main">

  <div th:replace="fragments/my-pagetitle :: pagetitle('문제 편집', '문제', '문제 편집')" />

  <div>
    <div id="preview">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${problemId} + '번 문제'">문제</h5>

          <div class="mb-auto col-5">
            <div>
              <h1>문제명</h1>
              <div>
                <div class="card">
                  <div class="card-header" id="problemTypePreview" th:text="${problemAdminEditDto.problemType}">
                    문제 타입
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <div class="title-overflow-auto" id="previewProblemName" th:text="${problemAdminEditDto.name}">
                        문제명
                      </div>
                    </h5>
                    <p class="card-text overflow-auto">
                    </p>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <div>
              <h1> 문제 설명 </h1>
              <div>
                <div class="card">
                  <div class="card-body">

                    <div th:each="des: ${descriptions}">
                    <h5 class="card-title overflow-auto text-overflow-auto" id="previewProblemDescription" th:text="${des.getDescription()}">
                      입력</h5>
                    <p class="card-text"></p>
                    </div>

                  </div>
                </div>
                <br>
              </div>
            </div>

            <div>
              <h1> 입출력 예시 </h1>

              <div th:each="io: ${ioExamples}">
                <div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        입력</h5>
                      <p class="card-text io-overflow-auto" th:text="${io.getInputSource()}"></p>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">출력</h5>
                      <p class="card-text io-overflow-auto" th:text="${io.getOutputSource()}"></p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade show" id="problemCreateModal" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="problemCreateModalTitle"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="problemCreateModalText"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="problemCreateTestModalClose()">Close</button>
        </div>
      </div>
    </div>
  </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/my-footer :: footer" />
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= Script ======= -->
<div th:replace="fragments/my-script :: script" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- End Script -->

<script>

</script>

</body>
</html>