<!DOCTYPE HTML>
<html class="h-100" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header"></head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">
<div class="container">
  <div th:replace="fragments/bodyHeader2 :: bodyHeader" />

    <main>
      <div class="container py-vh-6">
        <table class="table">
          <thead>
          <tr>
            <th>문제 번호</th>
            <th>문제 이름</th>
            <th>문제 파일명</th>
            <th>생성 시간</th>
            <th>변경 시간</th>
            <td></td>
          </tr>
          </thead>
          <tr th:each="problem: ${problems.getContent()}">
            <td th:text="${problem.problemId}"></td>
            <td th:text="${problem.name}"></td>
            <td th:text="${problem.originalProblemFileName}"></td>
            <td th:text="${problem.createdAt}"></td>
            <td th:text="${problem.modifiedAt}"></td>

            <td>
              <a href="#" th:href="@{/api/v1/groups/admin/{groupId}/problems/{problemId} (groupId=${groupId}, problemId=${problem.problemId})}"
                 class="btn btn-primary" role="button">문제 관리</a>
            </td>
          </tr>
        </table>

        <nav style="text-align: center;">
          <ul class="pagination">

          </ul>
        </nav>

      </div>
    </main>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/aos.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  AOS.init({
    duration: 800, // values from 0 to 3000, with step 50ms
  });
</script>

</body>

</html>